[submodule "IA/IA-trabalho-1"]
	path = IA/IA-trabalho-1
	url = https://github.com/pedrohba1/IA-trabalho-1
[submodule "tcc"]
	path = tcc
	url = https://github.com/pedrohba1/SSCS.git
[submodule "topicos-especiais-de-seguranca"]
	path = topicos-especiais-de-seguranca
	url = https://github.com/pedrohba1/smart-contracts.git
